<ul class="left">
  {{! Why cant I embed a subview here? }}
  {{!#view "Workr.AppMenuButton"}}
    <li id='studio_btn' class='studio_btn'><span></span><label>Studio</label></li>
  {{!/view}}
</ul>
<input type="text" placeholder="Search">
<ul class="search_results"></ul>
<ul class="menuitems">
  <li class="login">   <span></span><label>Login</label></li>
  <li></li>
  <li class="new">     <span></span><label>New Workr</label></li>
  <li class="load">    <span></span><label>Load Workr</label></li>
  <li></li>
  <li class="clear">   <span></span><label>Clear Canvas</label></li>
</ul>

