<ul class="left">
  <li id='studio_btn' class='studio_btn'><span></span><label>Studio</label></li>
</ul>
<ul class="right">
  <li id="lib_btn" class="lib_btn"><span></span><label>Library</label></li>
</ul>
