$sprite-default-size: 24px;

// border-radius vars
$default-border-radius: 7px;

// box-shadow vars
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 2px;
$default-box-shadow-blur:     4px;

// app vars
$row-height:                  30px;
$menu-item-margin-left:       32px;
$appMenu-width:               241px;

$default-font-size:         18px;
$default-line-height:       24px;


