.topmenu{
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  height:30px;
  @include dark-text-shadow;
  color:          #464646;
  @include light-shadow;
  @include light-grad;

  ul{
    @include ul-reset;
  }

  li{
    cursor: pointer;
    display: block;
    padding: 3px 0;
  }
  ul.left{
    position: absolute;
    left:     0px;
    top:      0px;
  }
  ul.right{
    position: absolute;
    right:    0px;
    top:      0px;
  }

  //studio
  .studio_btn{
    span{
      @include sc-sprite('sprites.png', 1, 1);
      @include icons-left;

      &:hover{
        @include sc-sprite('sprites.png', 1, 2);
      }
    }
    label{
      display:none;
    }
  }

  //library
  .lib_btn{
    span{
      @include sc-sprite('sprites.png', 2, 1);
      @include icons-right;

      &:hover{
        @include sc-sprite('sprites.png', 2, 2);
      }
    }
    label{
      display:none;
    }
  }

  // title
  .title{
    @include transition;
    &.open{
      left: $appMenu-width + ($menu-item-margin-left*2) !important;
    }

  }
}