#menu{
  position: absolute;
  @include dark-text-shadow;
  color:          #464646;
  @include light-shadow;

  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.38, #C2C2C2),
      color-stop(0.85, #ECECEC)
  );
  background: -moz-linear-gradient(
      center bottom,
      #C2C2C2 38%,
      #ECECEC 85%
  );

  li{
    cursor: pointer;
  }
  ul.left{
    position: absolute;
    left:     0px;
    top:      0px;
  }
  ul.right{
    position: absolute;
    right:    0px;
    top:      0px;
  }

  //studio
  .studio_btn{
    span{
      @include sc-sprite('sprites.png', 1, 1);
      @include icons-left;

      &:hover{
        @include sc-sprite('sprites.png', 1, 2);
      }
    }
    label{
      display:none;
    }
  }

  //library
  .lib_btn{
    span{
      @include sc-sprite('sprites.png', 2, 1);
      @include icons-right;

      &:hover{
        @include sc-sprite('sprites.png', 2, 2);
      }
    }
    label{
      display:none;
    }
  }

  // title
  .title{
    position:absolute;
  }


}