<div class='topmenu'>
  <ul class="left">
    <li class="studio_btn"><span></span><label>Studio</label></li>
  </ul>
  <ul class="right">
    <li class="lib_btn"><span></span><label>Library</label></li>
  </ul>
</div>

