{{#view "Workr.TopMenuView"}}
  <ul class="left">
    {{#view "Workr.AppMenuButton"}}
      <span></span><label>Studio</label>
    {{/view}}
  </ul>
  <ul class="right">
    <li class="lib_btn"><span></span><label>Library</label></li>
  </ul>
{{/view}}

<div id="appmenu">
  <ul class="left">
    {{#view "Workr.AppMenuButton"}}
      <span></span><label>Studio</label>
    {{/view}}
  </ul>
  <input type="text" placeholder="Search">
  <ul class="search_results"></ul>
  <ul class="menuitems">
    <li class="login">   <span></span><label>Login</label></li>
    <li></li>
    <li class="new">     <span></span><label>New Workr</label></li>
    <li class="load">    <span></span><label>Load Workr</label></li>
    <li></li>
    <li class="clear">   <span></span><label>Clear Canvas</label></li>
  </ul>
</div>