/* ==========================================================================
*  APPMENU
*  ==========================================================================
*/

#appmenu{
  position: absolute;
  background-color:   #333;
  color:              #e5e5e5;
  text-shadow:        0px -1px 0px #000;
  -moz-box-shadow:    2px 0px 4px #666;
  -webkit-box-shadow: 2px 0px 4px #666;
  box-shadow:         2px 0px 4px #666;
}

#appmenu > ul.menuitems > li > label{
  padding:  0px 10px 0 5px;
}


/*
  APPMENU ITEMS
*/
#appmenu > ul.menuitems > li{
  margin: 10px 0;
  padding: 5px 0;
  border: 1px ridge #333;
}

#appmenu > ul.menuitems > li[id]:hover{
  border: 1px ridge #000;
  height: 30px;
}

#appmenu_studio_btn span{
  background:   url('images/sprites.png') no-repeat 0px -96px;
  background:   sc_static('images/sprites.png') no-repeat 0px -96px;
}

#appmenu ul.menuitems > li > span{
  margin: 6px 0 0 15px;
}

#appmenu_login span{
  background:   url('images/sprites.png') no-repeat -72px -72px;
  background:   sc_static('images/sprites.png') no-repeat -72px -72px;
}

#appmenu_new span{
  background:   url('images/sprites.png') no-repeat -96px -72px;
  background:   sc_static('images/sprites.png') no-repeat -96px -72px;
}

#appmenu_load span{
  background:   url('images/sprites.png') no-repeat -120px -72px;
  background:   sc_static('images/sprites.png') no-repeat -120px -72px;
}

#appmenu_clear span{
  background:   url('images/sprites.png') no-repeat -144px -72px;
  background:   sc_static('images/sprites.png') no-repeat -144px -72px;
}

#appmenu_login:hover span{
  background:   url('images/sprites.png') no-repeat -72px -96px;
  background:   sc_static('images/sprites.png') no-repeat -72px -96px;
}

#appmenu_new:hover span{
  background:   url('images/sprites.png') no-repeat -96px -96px;
  background:   sc_static('images/sprites.png') no-repeat -96px -96px;
}

#appmenu_load:hover span{
  background:   url('images/sprites.png') no-repeat -120px -96px;
  background:   sc_static('images/sprites.png') no-repeat -120px -96px;
}

#appmenu_clear:hover span{
  background:   url('images/sprites.png') no-repeat -144px -96px;
  background:   sc_static('images/sprites.png') no-repeat -144px -96px;
}


