/* ==========================================================================
*  TOP MENU
*  ==========================================================================
*/

/*
  LAYOUT
*/
#menu{
  position: absolute;
  top:      0px;
  height:   30px;
  width:    100%;
}

#menu > ul.left{
  position: absolute;
  left:     0px;
  top:      0px;
}

#menu > ul.right{
  position: absolute;
  right:    0px;
  top:      0px;
}


/*
  GENERAL
*/
#menu, #appmenu, #appmenu_search input{
  font-size:      18px;
  font-weight:    bolder;
  line-height:    24px;
}

#menu{
  text-shadow:    0px 1px 0px rgba(255,255,255,1);
  color:          #464646;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.38, #C2C2C2),
      color-stop(0.85, #ECECEC)
  );
  background: -moz-linear-gradient(
      center bottom,
      #C2C2C2 38%,
      #ECECEC 85%
  );
  -moz-box-shadow:    0px 2px 4px #666;
  -webkit-box-shadow: 0px 2px 4px #666;
  box-shadow:         0px 2px 4px #666;
}

#menu li, #menu label, #appmenu li, #appmenu label{
  cursor:         pointer;
}

#menu ul{
  list-style: none;
  padding:    0px;
  margin:     0px;
}

#menu li{
  display:        inline-block;
  height:         30px;
}

#appmenu > ul.menuitems > li[id]:hover, #appmenu_studio_btn{
  color:          #fff;
  text-shadow:    0px -1px 0px #000;
  border-right:   1px ridge #ddd;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(0,0,0)),
      color-stop(0.5, rgb(0,0,0)),
      color-stop(0.51, rgb(34,34,34)),
      color-stop(1, rgb(88,88,88))
  );
  background: -moz-linear-gradient(
      center bottom,
      rgb(0,0,0) 0%,
      rgb(0,0,0) 50%,
      rgb(34,34,34) 51%,
      rgb(88,88,88) 100%
  );
  -moz-box-shadow:    0px 2px 4px #000;
  -webkit-box-shadow: 0px 2px 4px #000;
  box-shadow:         0px 2px 4px #000;
}

#appmenu_studio_btn{
  border-right:none;
  border-bottom:1px ridge #000;
}

#menu label, #appmenu label{
  display:  inline-block;
  padding:  4px 10px 0 0px;
}


/*
  MENU ITEMS
*/

/*
  LAYOUT
*/
#appmenu_studio_btn {
  width: 249px;
}

#menu span, #appmenu span{
  width:        24px;
  height:       24px;
  margin:       3px 5px 0 15px;
  float:        left;
}


#menu #menu_studio_btn label{
  display:none;
}

#menu_studio_btn span{
  margin-left:  10px;
  background:   sc_static('images/sprites.png') no-repeat 0px 0px;
}

#menu_studio_btn:hover span{
  margin-left:  10px;
  background:   sc_static('images/sprites.png') no-repeat 0px -24px;
}

#menu li#menu_library_btn > label{
  display:none;
}

#menu_library_btn span{
  background:   sc_static('images/sprites.png') no-repeat -24px 0px;
}

#menu_library_btn:hover span{
  background:   sc_static('images/sprites.png') no-repeat -24px -24px;
}

#menu #menu_properties_btn label{
  display:none;
}

#menu_properties_btn span{
  background:   sc_static('images/sprites.png') no-repeat -48px 0px;
}

#menu_properties_btn:hover span{
  background:   sc_static('images/sprites.png') no-repeat -48px -25px;
}


/* ==========================================================================
*  APPMENU
*  ==========================================================================
*/

/*
  LAYOUT
*/
/*
#appmenu{
  position: absolute;
  top:      0px;
  width:    249px;
  height:   100%;
}
*/


/*
  GENERAL
*/
#appmenu{
  background-color:   #333;
  color:              #e5e5e5;
  text-shadow:        0px -1px 0px #000;
  -moz-box-shadow:    2px 0px 4px #666;
  -webkit-box-shadow: 2px 0px 4px #666;
  box-shadow:         2px 0px 4px #666;
  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  -transition:all 1.0s ease-in-out;
}

#appmenu ul{
  list-style: none;
  padding:    0;
  margin:     0;
}

#appmenu li{
  display:    block;
}


#appmenu ul.menuitems > li > label{
  padding:  8px 10px 0 5px;
}

#appmenu_search{
  margin:15px 0;
}

#appmenu_search_results{
  display:none;
}

/*
  APPMENU ITEMS
*/
#appmenu ul.menuitems li{
  margin: 10px 0;
  padding: 5px 0;
}

#appmenu > ul.menuitems > li[id]:hover{
  border: 1px ridge #000;
  height: 30px;
}

#appmenu_studio_btn span{
  background:   sc_static('images/sprites.png') no-repeat 0px -96px;
}

#appmenu_search input{
  margin:                 10px 0px 0 10px;
  border:                 1px solid #000;
  padding-left:           34px;
  line-height:            30px;
  width:                  229px;
  -webkit-border-radius:  25px;
  -moz-border-radius:     25px;
  border-radius:          25px;
  background:             #fff sc_static('images/search.png') no-repeat 5px center;
  color:                  #ccc;
}

#appmenu_search input:focus{
 outline: none;
}

#appmenu_search input:hover, #appmenu_search input:focus, #appmenu.searching #appmenu_search input{
  color:        #000;
  background:   #fff sc_static('images/search_on.png') no-repeat 5px center;
}

#appmenu ul.menuitems li span{
  margin: 6px 0 0 15px;
}

#appmenu_login span{
  background:   sc_static('images/sprites.png') no-repeat -72px -72px;
}

#appmenu_new span{
  background:   sc_static('images/sprites.png') no-repeat -96px -72px;
}

#appmenu_load span{
  background:   sc_static('images/sprites.png') no-repeat -120px -72px;
}

#appmenu_clear span{
  background:   sc_static('images/sprites.png') no-repeat -144px -72px;
}

#appmenu_login:hover span{
  background:   sc_static('images/sprites.png') no-repeat -72px -96px;
}

#appmenu_new:hover span{
  background:   sc_static('images/sprites.png') no-repeat -96px -96px;
}

#appmenu_load:hover span{
  background:   sc_static('images/sprites.png') no-repeat -120px -96px;
}

#appmenu_clear:hover span{
  background:   sc_static('images/sprites.png') no-repeat -144px -96px;
}


/* ==========================================================================
*  APPMENU MODE: searching
*  ==========================================================================
*/

#appmenu.searching #appmenu_search_results{
  background:             #fff;
  display:                block;
  width:                  229px;
  margin:                 10px 0px 0 10px;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  border-radius:          10px;
}

#appmenu.searching #appmenu_search_results li{
  height:       42px;
  color:        #464646;
  text-shadow:  none;
  cursor:       move;
}

#appmenu.searching #appmenu_search_results li{
  border-bottom: 1px ridge #ddd;
}

#appmenu.searching #appmenu_search_results li:hover{
  border:   2px ridge #333;
  height:   39px;
}

#appmenu.searching #appmenu_search_results li:hover{
  color:          #fff;
  text-shadow:    0px -1px 0px #000;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(0,0,0)),
      color-stop(0.5, rgb(0,0,0)),
      color-stop(0.51, rgb(34,34,34)),
      color-stop(1, rgb(88,88,88))
  );
  background: -moz-linear-gradient(
      center bottom,
      rgb(0,0,0) 0%,
      rgb(0,0,0) 50%,
      rgb(34,34,34) 51%,
      rgb(88,88,88) 100%
  );
  -moz-box-shadow:    4px 4px 4px #000;
  -webkit-box-shadow: 4px 4px 4px #000;
  box-shadow:         4px 4px 4px #000;
}

#appmenu.searching #appmenu_search_results li:first-child{
  -webkit-border-top-right-radius:  10px;
  -webkit-border-top-left-radius:   10px;
  -moz-border-radius-topright:      10px;
  -moz-border-radius-topleft:       10px;
  border-top-right-radius:          10px;
  border-top-left-radius:           10px;
}

#appmenu.searching #appmenu_search_results li:last-child{
  -webkit-border-bottom-right-radius:  10px;
  -webkit-border-bottom-left-radius:   10px;
  -moz-border-radius-bottomright:      10px;
  -moz-border-radius-bottomleft:       10px;
  border-bottom-right-radius:          10px;
  border-bottom-left-radius:           10px;
}


#appmenu.searching #appmenu_search_results li label{
  padding:  8px 0 0 6px;
  cursor:   move;
}

#appmenu.searching #appmenu_search_results li span{
  margin: 8px 0 0 5px;
}

#appmenu.searching #appmenu_search_results li > div{
  height:         39px;
  margin:         0;
  float:          right;
}

#appmenu.searching #appmenu_search_results li:hover > div{
  border-left:    1px ridge #ddd;
  border-width:   2px;
}

#appmenu.searching #appmenu_search_results li:hover > div > span{
  width: 12px;
  background: sc_static('images/sprites.png') no-repeat -218px -96px;
}

/*
  TEMP ICONS
*/
#appmenu.searching #appmenu_search_results li > span:first-child{
  background:   sc_static('images/sprites.png') no-repeat -168px 0px;
}
#appmenu.searching #appmenu_search_results li:hover > span:first-child{
  background:   sc_static('images/sprites.png') no-repeat -168px -96px;
}
