.nodepanel > .content{
  position: absolute; /* resetting classes.. need this  */
}


/*
  Style
*/
.nodepanel{
  text-shadow:          0px -1px 0px #000;
  text-align:           center;
  background:           #000 url('images/workr_title_bg.png') repeat-x;
  background:           #000 sc_static('images/workr_title_bg.png') repeat-x;
  color:                #8a8a8a;
  -moz-border-radius:    7px;
  -webkit-border-radius: 7px;
}

.selected{
  color:                #e5e5e5;
  -moz-box-shadow:       3px 3px 8px rgba(0, 0, 0, .75);
  -webkit-box-shadow:    3px 3px 8px rgba(0, 0, 0, .75);
}

.nodepanel > .content{
  background-color:     #f2f2f2;
  -moz-border-radius:    7px;
  -webkit-border-radius: 7px;
}

.selected > .content{
  background-color:     #fff;
}

.nodepanel > .info{
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  padding:  3px 10px;
}

.nodepanel > .info >  span{
  display: block;
  width: 24px;
  height: 24px;
  background: url('images/sprites.png') no-repeat -240px -48px;
  background: sc_static('images/sprites.png') no-repeat -240px -48px;
}

.nodepanel > div.info:hover > span{
  background: url('images/sprites.png') no-repeat -240px -72px;
  background: sc_static('images/sprites.png') no-repeat -240px -72px;
}

/*
  Why does :active not work in SC?
*/
.nodepanel > div.info:active > span{
  background: url('images/sprites.png') no-repeat -240px -96px;
  background: sc_static('images/sprites.png') no-repeat -240px -96px;
}

.nodepanel > .title{
  padding:  5px;
  font-size: 20px;
  line-height:20px;
}

.nodepanel > .edit{
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  padding:  3px 10px;
}

.nodepanel > .edit >  span{
  display: block;
  width: 24px;
  height: 24px;
  background: url('images/sprites.png') no-repeat -264px -48px;
  background: sc_static('images/sprites.png') no-repeat -264px -48px;
}

.nodepanel > div.edit:hover > span{
  background: url('images/sprites.png') no-repeat -264px -72px;
  background: sc_static('images/sprites.png') no-repeat -264px -72px;
}

/*
  Why does :active not work in SC?
*/
.nodepanel > div.edit:active > span{
  background: url('images/sprites.png') no-repeat -264px -96px;
  background: sc_static('images/sprites.png') no-repeat -264px -96px;
}
