/* ==========================================================================
*  Workr specific styles: Husky theme
*  Copyright: ©2010 Brian Staats and contributors
*  ==========================================================================
*/
.header{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight:bolder;
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  position: absolute;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.38, #C2C2C2),
      color-stop(0.85, #ECECEC)
  );
  background: -moz-linear-gradient(
      center bottom,
      #C2C2C2 38%,
      #ECECEC 85%
  );
}

