/* ==========================================================================
*  Workr specific styles: Husky theme
*  Copyright: ©2010 Brian Staats and contributors
*  ==========================================================================
*/
html,body{
  font-family:  Helvetica, Arial, sans-serif;
  padding:      0px;
  margin:       0px;
}

#studio{
  height:       100%;
  width:        100%;
  background:   sc_static('images/grid.png') repeat 0px 0px;
}


/*
  WORKRS
*/

 /* Nodes */
.workr{
  background:            #231f20 sc_static('images/workr_icon.png') no-repeat 0px 0px;;
  color:                 #333333;
  text-shadow:           0px 1px 0px rgba(0, 0, 0, .5);
  border:                1px solid #000;
  -moz-border-radius:    7px;
  -webkit-border-radius: 7px;
  -moz-box-shadow:       2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow:    2px 2px 5px rgba(0, 0, 0, .5);

 overflow:              visible;
  -moz-transition:       border .1s linear;
  -webkit-transition:    border .1s linear;
}

.workr.selected{
  border:                2px solid rgba(255, 255, 255, 1);
  -moz-box-shadow:       3px 3px 8px rgba(0, 0, 0, .75);
  -webkit-box-shadow:    3px 3px 8px rgba(0, 0, 0, .75);
}

/* Terminal colors*/
.workr-terminal{
  background-color:     #000;
  border: 1px solid     #000;

  -moz-transition:       border .1s linear;
  -moz-box-shadow:       2px 2px 5px rgba(0,0,0,.5);
  -moz-border-radius:    2px;

  -webkit-transition:    border .1s linear;
  -webkit-box-shadow:    2px 2px 5px rgba(0,0,0,.5);
  -webkit-border-radius: 2px;
}

.icon{
  background: sc_static('images/workr_sprites.png') repeat 0px -105px;
}