/* ==========================================================================
*  TOP MENU
*  ==========================================================================
*/

#menu > ul.left{
  position: absolute;
  left:     0px;
  top:      0px;
}

#menu > ul.right{
  position: absolute;
  right:    0px;
  top:      0px;
}


#menu{
  position: absolute;
  text-shadow:    0px 1px 0px rgba(255,255,255,1);
  color:          #464646;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.38, #C2C2C2),
      color-stop(0.85, #ECECEC)
  );
  background: -moz-linear-gradient(
      center bottom,
      #C2C2C2 38%,
      #ECECEC 85%
  );
  -moz-box-shadow:    0px 2px 4px #666;
  -webkit-box-shadow: 0px 2px 4px #666;
  box-shadow:         0px 2px 4px #666;
}


#menu ul{
  list-style: none;
  padding:    0px;
  margin:     0px;
}

#menu li{
  display:        inline-block;
  height:         30px;
}

#appmenu_studio_btn{
  border-right:none;
  border-bottom:1px ridge #000;
}


/*
  MENU ITEMS
*/

/*
  LAYOUT
*/
#appmenu_studio_btn {
/*  width: 249px;*/
}

#menu #menu_studio_btn label{
  display:none;
}

#menu_studio_btn span{
  margin-left:  16px;
  background:   url('images/sprites.png') no-repeat 0px 0px;
  background:   sc_static('images/sprites.png') no-repeat 0px 0px;
}

#menu_studio_btn:hover span{
  background:   url('images/sprites.png') no-repeat 0px -24px;
  background:   sc_static('images/sprites.png') no-repeat 0px -24px;
}

li#menu_library_btn > label{
  display:none;
}

li#menu_library_btn span{
  background:   url('images/sprites.png') no-repeat -24px 0px;
  background:   sc_static('images/sprites.png') no-repeat -24px 0px;
}

li#menu_library_btn:hover span{
  background:   url('images/sprites.png') no-repeat -24px -24px;
  background:   sc_static('images/sprites.png') no-repeat -24px -24px;
}

li#menu_properties_btn label{
  display:none;
}

li#menu_properties_btn span{
  background:   url('images/sprites.png') no-repeat -48px 0px;
  background:   sc_static('images/sprites.png') no-repeat -48px 0px;
}

li#menu_properties_btn:hover span{
  background:   url('images/sprites.png') no-repeat -48px -25px;
  background:   sc_static('images/sprites.png') no-repeat -48px -25px;
}

#menu > .title{
  position:absolute; /* This is neded since classNamesReset: YES eliminates ALL SC css  */
}
