/* ==========================================================================
*  TOP MENU
*  ==========================================================================
*/

/*
  LAYOUT
*/
#menu{
/*
  position: absolute;
  top:      0px;
  height:   30px;
  width:    100%;
*/
}

#menu > ul.left{
  position: absolute;
  left:     0px;
  top:      0px;
}

#menu > ul.right{
  position: absolute;
  right:    0px;
  top:      0px;
}


/*
  GENERAL
*/
#menu, #appmenu, #appmenu_search input{
  font-size:      18px;
  font-weight:    bolder;
  line-height:    24px;
}

#menu{
  text-shadow:    0px 1px 0px rgba(255,255,255,1);
  color:          #464646;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.38, #C2C2C2),
      color-stop(0.85, #ECECEC)
  );
  background: -moz-linear-gradient(
      center bottom,
      #C2C2C2 38%,
      #ECECEC 85%
  );
  -moz-box-shadow:    0px 2px 4px #666;
  -webkit-box-shadow: 0px 2px 4px #666;
  box-shadow:         0px 2px 4px #666;
}

#menu li, #menu label, #appmenu li #appmenu label{
  cursor:         pointer;
}

#menu ul{
  list-style: none;
  padding:    0px;
  margin:     0px;
}

#menu li{
  display:        inline-block;
  height:         30px;
}

#appmenu > ul.menuitems > li[id]:hover, #appmenu_studio_btn{
  color:          #fff;
  text-shadow:    0px -1px 0px #000;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(0,0,0)),
      color-stop(0.5, rgb(0,0,0)),
      color-stop(0.51, rgb(34,34,34)),
      color-stop(1, rgb(88,88,88))
  );
  background: -moz-linear-gradient(
      center bottom,
      rgb(0,0,0) 0%,
      rgb(0,0,0) 50%,
      rgb(34,34,34) 51%,
      rgb(88,88,88) 100%
  );
  -moz-box-shadow:    0px 2px 4px #000;
  -webkit-box-shadow: 0px 2px 4px #000;
  box-shadow:         0px 2px 4px #000;
}

#appmenu_studio_btn{
  border-right:none;
  border-bottom:1px ridge #000;
}

#menu label, #appmenu label{
  display:  inline-block;
  padding:  4px 10px 0 0px;
}


/*
  MENU ITEMS
*/

/*
  LAYOUT
*/
#appmenu_studio_btn {
  width: 249px;
}

#menu span, #appmenu span{
  width:        24px;
  height:       24px;
  margin:       3px 5px 0 15px;
  float:        left;
}


#menu #menu_studio_btn label{
  display:none;
}

#menu_studio_btn span{
  margin-left:  16px;
  background:   sc_static('images/sprites.png') no-repeat 0px 0px;
}

#menu_studio_btn:hover span{
  background:   sc_static('images/sprites.png') no-repeat 0px -24px;
}

#menu li#menu_library_btn > label{
  display:none;
}

#menu_library_btn span{
  background:   sc_static('images/sprites.png') no-repeat -24px 0px;
}

#menu_library_btn:hover span{
  background:   sc_static('images/sprites.png') no-repeat -24px -24px;
}

#menu #menu_properties_btn label{
  display:none;
}

#menu_properties_btn span{
  background:   sc_static('images/sprites.png') no-repeat -48px 0px;
}

#menu_properties_btn:hover span{
  background:   sc_static('images/sprites.png') no-repeat -48px -25px;
}

#menu > .title{
  position:absolute; /* This is neded since classNamesReset: YES eliminates ALL SC css  */
}
