// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";

@import "compass/utilities/sprites";
$sprite-default-size: 24px;

@import "compass/css3";

// border-radius vars
$default-border-radius: 7px;

// box-shadow vars
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 2px;
$default-box-shadow-blur:     4px;



/* APP SCSS */
@import "partials/globals";

@import 'partials/main';

@import 'components/top_menu';

@import 'components/app_menu';

@import 'components/lib_menu';

@import 'components/lib_menu_item';

@import 'components/node_panel';