/* Hack to get around SC's sc_static BS
---------------------------------------- */
@mixin sc-sprite($img, $col, $row, $width:$sprite-default-size, $height:$sprite-default-size, $margin:$sprite-default-margin){
  @include sprite-img('/static/workr/en/current/source/resources/images/'+$img, $col, $row, $width, $height, $margin);
}

@mixin icons-left{
  margin: 0px 5px 0 15px;
  display:inline-block;
}

@mixin icons-right{
  margin: 0px 15px 0 5px;
  display:inline-block;
}

@mixin dark-grad{
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(0,0,0)),
      color-stop(0.5, rgb(0,0,0)),
      color-stop(0.51, rgb(34,34,34)),
      color-stop(1, rgb(88,88,88))
  );
  background: -moz-linear-gradient(
      center bottom,
      rgb(0,0,0) 0%,
      rgb(0,0,0) 50%,
      rgb(34,34,34) 51%,
      rgb(88,88,88) 100%
  );
}

@mixin light-grad{
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.38, #C2C2C2),
      color-stop(0.85, #ECECEC)
  );
  background: -moz-linear-gradient(
      center bottom,
      #C2C2C2 38%,
      #ECECEC 85%
  );
}


@mixin light-shadow{
  @include box-shadow(#666);
}

@mixin dark-shadow{
  @include box-shadow(#000);
}

@mixin light-text-shadow{
  @include text-shadow(#000, 0px, -1px, 0px);
}

@mixin dark-text-shadow{
  @include text-shadow(#fff, 0px, 1px, 0px);
}

@mixin ul-reset{
  list-style: none;
  padding:    0;
  margin:     0;
}

@mixin corner{
  -webkit-border-radius:  25px;
  -moz-border-radius:     25px;
  border-radius:          25px;
}

@mixin transition{
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -transition:all 0.5s ease-in-out;
}